# Libraries

In [1]:
import pandas as pd
import numpy as np

# Data wrangling

In [12]:
# Gathering data
dtype_dict = {
    "Mediennummer": "string",
    "Sigel": "string",
    "Fachst_1": "string",
    "Fachst_2": "string",
    "Aufstellung": "string",
    "MTC": "string",
    "Physikalische_Form": "string",
    "Sachgr.": "string",
    "StO": "string",
    "Erwerbungsart": "string",
    "Ausleihen": "int64",
    "Verlängerungen": "int64",
    "Anzahl_Exemplare": "int64",
    "Sum_Ausl": "int64"
}

BesEx_2022_cleaned_df = pd.read_csv(
    "BesEx_2022_cleaned.csv",
    dtype=dtype_dict,
    parse_dates=["Inventarisierung"]  # pour forcer la colonne en datetime
)

BesEx_2022_cleaned_df.dtypes

Mediennummer          string[python]
Sigel                 string[python]
Fachst_1              string[python]
Fachst_2              string[python]
Aufstellung           string[python]
MTC                   string[python]
Physikalische_Form    string[python]
Sachgr.               string[python]
Preis                        float64
StO                   string[python]
Inventarisierung      datetime64[ns]
Ausleihen                      int64
Verlängerungen                 int64
Erwerbungsart         string[python]
Anzahl_Exemplare               int64
Sum_Ausl                       int64
dtype: object

In [15]:
# Gathering data
dtype_dict = {
    "Mediennummer": "string",
    "Sigel": "string",
    "Fachst_1": "string",
    "Fachst_2": "string",
    "Aufstellung": "string",
    "MTC": "string",
    "Physikalische_Form": "string",
    "Sachgr.": "string",
    "StO": "string",
    "Erwerbungsart": "string",
    "Ausleihen": "int64",
    "Verlängerungen": "int64",
    "Anzahl_Exemplare": "int64",
    "Sum_Ausl": "int64"
}

BesEx_2024_cleaned_df = pd.read_csv(
    "BesEx_2024_cleaned.csv",
    dtype=dtype_dict,
    parse_dates=["Inventarisierung"]  # pour forcer la colonne en datetime
)

BesEx_2024_cleaned_df.dtypes

Mediennummer          string[python]
Sigel                 string[python]
Fachst_1              string[python]
Fachst_2              string[python]
Aufstellung           string[python]
MTC                   string[python]
Physikalische_Form    string[python]
Sachgr.               string[python]
Preis                        float64
StO                   string[python]
Inventarisierung      datetime64[ns]
Ausleihen                      int64
Verlängerungen                 int64
Erwerbungsart         string[python]
Anzahl_Exemplare               int64
Sum_Ausl                       int64
dtype: object

# Create columns Ausl_Jahr

In [17]:
BesEx_2022_cleaned_df["Ausl_Jahr"] = 2022
BesEx_2024_cleaned_df["Ausl_Jahr"] = 2024

# Create dataframe BesEx_2022_2022

In [19]:
#concatenated = pandas.concat([df1, df2])
BesEx_2022_2024_df = pd.concat([BesEx_2022_cleaned_df, BesEx_2024_cleaned_df])
BesEx_2022_2024_df

,Mediennummer,Sigel,Fachst_1,Fachst_2,Aufstellung,MTC,Physikalische_Form,Sachgr.,Preis,StO,Inventarisierung,Ausleihen,Verlängerungen,Erwerbungsart,Anzahl_Exemplare,Sum_Ausl,Ausl_Jahr
0,0,477,SA,E,<NA>,11,0n,Terr,NaN,<NA>,NaT,0,0,<NA>,1,0,2022
1,477,477,SA,E,LESE,11,0n,Terr,NaN,<NA>,NaT,0,0,<NA>,1,0,2022
2,13477,477,SA,E,LESE,11,0n,Terr,NaN,<NA>,NaT,0,0,<NA>,1,0,2022
3,26477,477,SA,E,Raum0,11,0n,Terr,NaN,<NA>,NaT,0,0,<NA>,1,0,2022
4,39477,477,SA,E,Raum0,11,0n,Terr,NaN,<NA>,NaT,0,0,<NA>,1,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330974,7018969457,975,SL,K,Fran,1,0n,1.1,18.5,<NA>,2024-08-12,1,0,K,1,1,2024
330975,7018972457,975,SL,K,Fran,1,0n,1.1,15.5,<NA>,2024-08-12,2,1,K,1,3,2024
330976,7018985457,975,SL,K,Fran,1,0n,2.1,15.5,<NA>,2024-08-12,3,1,K,1,4,2024
330977,7018998457,975,SL,E,Rus,1,0n,Roman,15.0,<NA>,2024-08-12,3,0,K,1,3,2024
330978,7019007457,975,SA,E,Rus,1,0n,SoP,11.9,<NA>,2024-08-09,0,0,K,1,0,2024