# Libraries

In [1]:
import pandas as pd
import numpy as np

# Data wrangling

In [5]:
# Gathering data
KLR_2024_2025_df = pd.read_csv('KLR_2024_2025.csv',sep=';')
KLR_2024_2025_df

      Datum      Monat  Besucher  Entleihungen  Teilnehmer  Azubi+Prak
0   2024-01     Januar    65.661       150.471       5.809          18
1   2024-02    Februar    79.588       144.455       7.196          23
2   2024-03       M채rz    88.380       140.707       8.590          24
3   2024-04      April    88.455       140.734       8.058          23
4   2024-05        Mai    83.354       133.357      10.052          27
5   2024-06       Juni    82.119       128.491      11.786          34
6   2024-07       Juli    88.150       127.420       8.502          18
7   2024-08     August    66.999       121.466       4.803           7
8   2024-09  September    71.121       131.690       9.446          16
9   2024-10    Oktober    86.769       140.463      10.064          23
10  2024-11   November    93.075       140.583      12.132          24
11  2024-12   Dezember    76.450       139.821       9.706          25
12  2025-01     Januar    87.182       147.142       7.315          28
13  2025-02    Februar    87.263       138.686       9.318          25
14  2025-03       M채rz    95.545       144.380      10.729          25
15  2025-04      April    90.088       132.856       8.806          26
16  2025-05        Mai    93.436       128.355       8.594          18
17  2025-06       Juni   109.337       125.192      13.060          22
18  2025-07       Juli   102.362       136.833       9.002          22

In [3]:
# conversion datetime
KLR_2024_2025_df['Datum'] = pd.to_datetime(
    KLR_2024_2025_df['Datum'],
    format='%Y-%m',
    errors='coerce'
)

In [4]:
# data types conversion en int64
KLR_2024_2025_df.astype({
    'Besucher': 'int64',
    'Entleihungen': 'int64',
    'Teilnehmer': 'int64'
}).dtypes
KLR_2024_2025_df = KLR_2024_2025_df.astype({
    'Besucher': 'int64',
    'Entleihungen': 'int64',
    'Teilnehmer': 'int64'
})
KLR_2024_2025_df.dtypes

Datum           datetime64[ns]
Monat                   object
Besucher                 int64
Entleihungen             int64
Teilnehmer               int64
Azubi+Prak               int64
dtype: object